<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Favorites</title>
</head>
<body>
    <h1>Add Stock to Favourites</h1>
    <form action="/add_to_favourites" method="post">
        <label for="code">Stock Code:</label>
        <input type="text" id="code" name="code" required>
        <br>
        <br>
        <br>
        <input type="submit" value="Add to Favourites">
    </form>
</body>
</html>
