<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Stocks by Name</title>
</head>
<body>
    <h1>Find Stocks by Name</h1>
    <form action="/findstocks" method="get">
        <label for="stockName">Stock Name:</label>
        <input type="text" id="stockName" name="name" required>
        <br>
        <br>
        <br>
        <input type="submit" value="Search Stocks">
    </form>
</body>
</html>
