<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks App</title>
</head>
<body>
    <h1>Welcome to the Stocks App</h1>
    <p><a href="/check_top_stocks">Check Top Stocks</a></p>
    <p><a href="find_stocks">Find Stocks by Name</a></p>
    <p><a href="get_stock_history">Get Stock Price History</a></p>
    <p><a href="/add_to_favourites">Add to Favourites</a></p>
    <p><a href="/get_favourites">View Favourites</a></p>
    <p><a href="/remove_from_favourites">Remove from Favourites</a></p>
    <p><a href="/update_data">Update Stocks Data</a></p>
</body>
</html>
